[submodule "bsu-multithreading"]
	path = bsu-multithreading
	url = git@github.com:KnowNamee/bsu-multithreading.git
[submodule "multithreading/bsu-multithreading"]
	path = multithreading/bsu-multithreading
	url = git@github.com:KnowNamee/bsu-multithreading.git
