[submodule "bsu-multithreading"]
	path = bsu-multithreading
    url = git@github.com:KnowNamee/bsu-multithreading.git

[submodule "bsu-rendering"]
	path = bsu-rendering
	url = git@github.com:KnowNamee/bsu-rendering.git
